[Unit]
Description=Alacritty Terminal Daemon

[Service]
ExecStart=/snap/bin/alacritty --daemon
Restart=on-failure
RestartSec=5
Environment=DISPLAY=:0

[Install]
WantedBy=default.target
