[Unit]
Requires=%N.socket
Description=Foot terminal server mode
Documentation=man:foot(1)
PartOf=graphical-session.target
After=graphical-session.target
ConditionEnvironment=WAYLAND_DISPLAY

[Service]
ExecStart=/usr/bin/foot --server
Environment=WAYLAND_DISPLAY=wayland-0
UnsetEnvironment=LISTEN_PID LISTEN_FDS LISTEN_FDNAMES
NonBlocking=true

[Install]
WantedBy=graphical-session.target

