[user]
	name = psadi
	email = ps.adithya@icloud.com

[alias]
	pn = "!git push --set-upstream origin $(git branch --show-current | xargs)"
	aac = "!git add . && git commit -am"
	ac = commit -am
	p = push
	pf = push --force
	pl = pull
	fa = fetch --all
	co = checkout
	cob = checkout -b
[core]
	editor = hx
[credential "https://github.com"]
	helper = 
	helper = !/usr/local/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/local/bin/gh auth git-credential