[defaults]
stdout_callback = default
display_skipped_hosts = no
bin_ansible_callbacks = true
host_key_checking = false
force_color = true
localhost_warning = false
inventory_warning = false

[inventory]
inventory_unparsed_warning = false
